:root{
	--mainColor:#606B56;
	--secondaryColor:#515a48;

	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(48, 73, 58, 0.8);
	--previewShadow:#2a2f25;


	--buttonColor:#669966;

}
